#jumbo {
    text-align: center;
    color: white;
    background-color: teal;
}

#schedule-header {
    text-align: center;
    color: white;
    background-color: teal;
}

#add-train-header {
    text-align: center;
    color: white;
    background-color: teal;
}