#jumbo {
    text-align: center;
    color: white;
    background-color: teal;
    margin-top: 10px;
}

#schedule-header {
    text-align: center;
    color: white;
    background-color: teal;
}

#add-train-header {
    text-align: center;
    color: white;
    background-color: teal;
}

#add-train-btn {
    background-color: teal;
}

button:hover {
    box-shadow: 0 0 3pt 2pt blue;
}